
a{
  cursor: pointer;
}
.appliation-modal-box {
  @extend .modal-box;
  margin-left: -400px;
  margin-top: -220px;
  width: 800px;
  height: 440px;
  font-size: 18px;
  .btn-box {
    height: 46px;
    width: 169px;
    font-size: 18px;
    line-height: 32px;
  }

  .content .input {
    width: auto;
  }
  .defulatTips{
    width: 400px;
    height: 48px;
    margin: 3px auto;
    color:#0d0d0d;
    background-color: #dbdbdb;
  }
  .font14{
    font-size: 14px;
  }
  .money{
    color:#ff9900;
  }
  .nomoney{
    color:#ff0000;
  }

  .nav-modal-box {
    margin-top: 50px;
    width: 80%;
    text-align: center;
    margin-left: 8%;
    margin: 50px auto 0 auto;
    text-align: center;
    .nav-modal {
      height: 30px;
      display: block;
      margin: 0 auto;
      width: 340px;
      text-align: center;
      padding: 0;
      li {
        float: left;
        height: 20px;
        list-style: none;
        .spot {
          width: 19px;
          display: block;
          margin: 0 10px;
          float: left;
          height: 19px;
          background: url("../images/index/l4.png") no-repeat left center;
        }
        .s-active {
          background: url("../images/index/l5.png") no-repeat left center;
        }
        .lines {
          height: 19px;
          width: 60px;
          display: block;
          float: left;
          background: url("../images/index/l2.png") no-repeat left center;
        }
        .text {
          float: left;
          display: block;;
        }
      }
    }
    .nav-modal-text {
      height: 30px;
      display: block;
      margin: 0 auto;
      width: 380px;
      padding: 0;
      li {
        float: left;;
        font-size: 14px;
        text-align: center;
        list-style: none;
        margin-left: 5px;
        margin-right: 38px;
      }
      .ml-3 {
        margin-left: 3px;
      }
      .ml-30 {
        margin-left: 30px;
      }
      .mr-0 {
        margin-right: 0;
      }
    }
  }

}

.tablelist {
  .operation {
    a {
      text-decoration: underline;
      width: auto;
      padding-right: 5px;
      &:hover {
      }
    }
    span {
      border-left: 1px dotted #ecedec;
      padding: 0 5px;
    }
  }
  tr {
    height: 45px;
  }
}









