.application_create {
  @extend .personal_base;

  $label-width: 100px;

  .text-right {
    width: $label-width;
  }
  .validateBtnNormal {
    margin-left: $label-width;
  }
  .tips {
    width: 600px;
    padding-left: 15px;
    padding-top:0px;
    margin-left: $label-width;
    line-height: 25px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .price_info {
    padding: 10px 15px;
    color: #619B5A;
  }

  .price_info_fail {
    @extend .price_info;
    background-color: #f2dede;
    color: #888;
  }

  .app-createbox {

    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-table;
    width: 100%;
  }
  .ml-36{
    margin-left: 36px;
  }
  .app-tips{
    padding: 10px ;
    color: #619B5A;
    background-color: #d8e8d1;
  }
  .border-bottom{
    border-bottom: 1px solid #eee;
  }
}
