$bg-banner:#2E97CB;

.bg-blue {
  background-color: $bg-banner;
  a {
    color: white;
  }
}

header {
  font-size: 15px;
  font-weight: normal;
}

.panel-footer {
  a {
    color: #333;
  }
  text-align: center;
}

.logo_b {
  width: 55px;
  background: #3281a9;
}

.logo_ab .logo_w2 {
  width: 130%;
  transform: translate(-4px, -2px);
}

.navbar-brand img {
  max-height: none;
}

.logo_ab img {
  line-height: 55px;
  margin: auto;
  float: none;
}

.nav_b>li>a:hover, .nav_b>li>a:focus {
  background-color: #3281a9;
}

.a-color {
  border-left: solid 1px #008AB5;
  border-right: solid 1px #008AB5;
}
