$bg-banner:#2E97CB;

.bg-blue {
  background-color: $bg-banner;
  a {
    color: white;
  }
}

.logo_b {
  width: 55px;
  background: #3281a9;
}

.logo_ab .logo_w2 {
  width: 100%;
}


.logo_ab img {
  line-height: 55px;
  margin: auto;
  float: none;
}
