.cost-box{
  padding: 15px;
  font-size: 14px;
  color:#4a4a4a;
  .input-box{
    width: auto !important;
    img{
      border: 0;
    }
  }
  .help-block{
    position: absolute;
    top: 0;
    left: 188px;
    font-size: 12px;
    width: 150px;
  }
}
.cost-tips-box {
  display: inline-table;
  width: 100%;
  background-color: #f2ffea;
  color: #35840d;
  padding: 15px 0;
}
.cost-money{
  color:#ff9900;
  font-size: 32px;
  .floatmoney{
    font-size: 24px;
  }
  .unit{
    color:#717171;
    line-height: 30px;
    font-size: 14px;
    margin: 0;
    padding: 0
  }
  span{ }
}
.line30{
  line-height: 30px;
}
.font24{
  font-size: 24px;
  font-family: monospace;
}


