.float-right{
  float:right;
}
.invoiceapply{
  margin-top: 20px;
  .font{
    font-size: 18px;
  }
  .price{
    color: #ff9900;
    font-size: 24px;
  }
  .point{
    color:#ff9900;
    font-size: 14px;
  }
}

.text-l{
  text-align: left !important;
}

.price-box{
  background-color: #f1f1f1 !important;
}

.pageSyncWrap{
  height: 50px;
}

.sync-table-box {
  font-size: 12px !important;
}