
.invoiceapply{
  margin-top: 20px;
  .font{
    font-size: 18px;
  }
  .price{
    color: #ff9900;
    font-size: 24px;
  }
  .point{
    color:#ff9900;
    font-size: 14px;
  }
}

.text-l{
  text-align: left !important;
}

.price-box{
  background-color: #f1f1f1 !important;
}

.pageSyncWrap{
  height: 50px;
}

.sync-table-box {
  font-size: 12px !important;
}


.cost-detail-modal{
  .a-title{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dashed #ececec;
  }


  .accordion-group{
    height: 500px;
    display: block;
    overflow-y: scroll;
  }

  .title{
    font-weight: bold;
    padding:10px 0;
    border-bottom: 1px solid #bfbfbf;
  }

  .c-title{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ececec;
  }
  .content{
    background-color: #fbfbfb;
    padding: 10px 0 0 0;
    .row{
      padding-left: 0;
    }
  }
}

