@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width:0px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-oc-close:before { content: "\e640"; }

.icon-oc-money:before { content: "\e600"; }

.icon-oc-handle:before { content: "\e601"; }

.icon-oc-mobile:before { content: "\e602"; }

.icon-oc-member:before { content: "\e603"; }

.icon-oc-monitor:before { content: "\e604"; }

.icon-oc-custom:before { content: "\e605"; }

.icon-oc-verify:before { content: "\e606"; }

.icon-oc-index:before { content: "\e607"; }

.icon-oc-statistics:before { content: "\e608"; }

.icon-oc-wallet:before { content: "\e609"; }

.icon-oc-finance:before { content: "\e60a"; }

.icon-oc-setting:before { content: "\e60b"; }

.icon-oc-msg:before { content: "\e60c"; }

.icon-oc-date:before { content: "\e60d"; }

.icon-oc-app:before { content: "\e60e"; }

.icon-oc-user:before { content: "\e60f"; }

.icon-oc-mobile-small:before { content: "\e610"; }

.icon-oc-msg-small:before { content: "\e611"; }

.icon-oc-wallet-small:before { content: "\e612"; }

.icon-oc-ranking:before { content: "\e613"; }

.icon-oc-exit:before { content: "\e614"; }

.icon-oc-search:before { content: "\e615"; }

.icon-oc-menu:before { content: "\e616"; }

.icon-oc-menu-in:before { content: "\e617"; }

.icon-oc-up:before { content: "\e618"; }

.icon-oc-down:before { content: "\e619"; }

.icon-oc-close1:before { content: "\e623"; }

.icon-oc-recharge:before { content: "\e61a"; }

.icon-oc-storage:before { content: "\e61b"; }

.icon-huawuliang:before { content: "\e61c"; }

.icon-oc-msg1:before { content: "\e61d"; }

.icon-oc-callrate:before { content: "\e61e"; }

.icon-oc-talktime:before { content: "\e61f"; }

.icon-oc-surplus:before { content: "\e620"; }

.icon-oc-pulldown:before { content: "\e621"; }

.icon-oc-dropdown:before { content: "\e622"; }

.icon-oc-close-middle:before { content: "\e624"; }

.icon-oc-close-small:before { content: "\e625"; }

.icon-oc-login-pwd:before { content: "\e626"; }

.icon-oc-login-user:before { content: "\e627"; }

.icon-oc-app1:before { content: "\e628"; }

.icon-oc-delete:before { content: "\e629"; }

.icon-oc-copy:before { content: "\e62a"; }

.icon-oc-certid:before { content: "\e62b"; }

.icon-oc-api:before { content: "\e62c"; }

.icon-oc-secrekey:before { content: "\e62d"; }

.icon-oc-appnum:before { content: "\e62e"; }

.icon-yue:before { content: "\e62f"; }

.icon-resert:before { content: "\e630"; }

.icon-oc-small-copy:before { content: "\e631"; }

.icon-call-base:before { content: "\e633"; }

.icon-call-developer:before { content: "\e634"; }

.icon-call-voice:before { content: "\e635"; }

.icon-call-center:before { content: "\e636"; }

.icon-menu-user:before { content: "\e65e"; }

.icon-menu-app:before { content: "\e65f"; }

.icon-menu-cost:before { content: "\e660"; }

.icon-menu-number:before { content: "\e661"; }

.icon-menu-msg:before { content: "\e662"; }

.icon-menu-consume:before { content: "\e663"; }

.icon-menu-detail:before { content: "\e664"; }

.icon-menu-session:before { content: "\e665"; }

.icon-menu-call:before { content: "\e666"; }

.icon-menu-right:before { content: "\e667"; }

.icon-menu-down:before { content: "\e668"; }

.icon-menu-bell:before { content: "\e669"; }

.icon-menu-left:before { content: "\e66a"; }

.icon-menu-up:before { content: "\e66b"; }

.icon-menu-kefu:before { content: "\e66c"; }

.icon-menu-index:before { content: "\e66d"; }



