.number_on{
  width: 400px;
  text-align: center;

  height: 63px;
  background-color: #ececec;
  cursor: pointer;
  line-height: 63px;
  a{
    color:#4a4a4a;
    font-size: 32px;
    &:hover{
      text-decoration: underline;
    }
  }
}

.line32{
  line-height: 32px;
}

