@mixin personal-icon($img) {
  background: url($img) no-repeat center center;
}

.width-130{
  width: 130px;
}

.row, .form-group, .form-horizontal {
  margin-left: 0;
  margin-right: 0;
}

.remove-padding {
  padding: 0;
}

.dotted-line {
  border-bottom: 1px dotted #dadada;
}

.personal-box {
  margin: 30px 30px 10px 30px;
  padding-bottom: 20px;
  .right{
    line-height: 32px;
    img{
      margin-right: 5px;
    }
  }
}

.account-icon {
  i {
    display: block;
    height: 50px;
    min-width: 50px;
  }
}

.personal-password-icon {
  @include personal-icon('../images/index/icon_13.png');
}

.personal-phone-icon {
  @include personal-icon('../images/index/icon_14.png');
}

.personal-email-icon {
  @include personal-icon('../images/index/icon_15.png');
}

.personal-protect-icon {
  @include personal-icon('../images/index/icon_16.png');
}

.personal-base {
  .row {
    margin-bottom: 5px;
  }
  a {
    text-decoration: underline;
  }
  span, a {
    margin: 0 10px;
  }
}
.personal-edit{
  margin-left: 10px;
  padding-left: 15px;
  cursor: pointer;
  border-left: 1px dotted #dadada;
}
.tips-color{
  color:#ff0000;
}
.help-warning {
  color: #e51c23;
}

.help-block {
  font-size: 16px;
  color: #3b3b3b;
}

.help-small {
  font-size: 14px;
  color: #4b4b4b;
}

.tips-box{
  display: inline-table;
  width: 100%;
  font-size: 14px;
  background-color: #f2ffea;
  color: #35840d;
  padding: 15px 15px;
  margin: 0 15px;
}