/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import '../js/bootstrap-datepicker/css/bootstrap-datepicker.css';

body {
  font-size: 12px;
}

a {
  color: #428bca;
}

@import './aside.scss';
@import './index.scss';
@import './banner.scss';
@import './common.scss';
@import './admin-index.scss';
@import './personal_account.scss';
@import './personal_auth.scss';
@import './personal_base.scss';
@import './cost_month.scss';
@import './cost_history.scss';
@import './cost_recharge.scss';
@import './application_create.scss';
@import './cost_order.scss';
@import './application_list.scss';
@import './number_call.scss';
@import './number_band.scss';
@import './application_detail.scss';
@import './custom.scss';
@import './cost_invoice.scss';
@import './cost_invoice_record.scss';
@import './cost_invoice_detail.scss';
@import './cost_invoice_record_apply.scss';
@import './statistics_consume.scss';
@import './statistics_find.scss';
@import './new.scss';

.bg-light {
  background-color: #f1f1f1;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.none-app {
  text-align: center;
  span {
    display: inline-block;
    margin-left: 25px;
    vertical-align: middle;
  }
}

.wrapper.header {
    padding: 0 15px !important;
    height: 36px;
    line-height: 40px;
    font-size: 1.6rem;
}
