/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

body {
  font-size: 12px;
}

a {
  color: #428bca;
}

@import './aside.scss';
@import './index.scss';
@import './banner.scss';
@import './common.scss';
@import './admin-index.scss';
@import './login.scss';
@import './register.scss';


.bg-light {
  background-color: #f1f1f1;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.none-app {
  text-align: center;
  span {
    display: inline-block;
    margin-left: 25px;
    vertical-align: middle;
  }
}
