
.date_block{
  display: inline-block; width: 200px;
}

.monthcontrast,.yearcontrast,.statisticsYear, .yearform{
  display: none;
}

.scanvas{
  margin-top: 20px;
  margin-bottom:10px;
}

.finddatebtn{
  margin: 0 20px;
}
.monthcontrast span,.yearcontrast span{
  margin: 0 10px;
}
.font18{
  font-size: 18px;
}
.ml-15{
  margin-left: 15px !important;
}