/* line 2, ../sass/application_list.scss */
a {
  cursor: pointer;
}

/* line 6, ../sass/application_list.scss */
.hideIVR {
  display: none;
}

/* line 9, ../sass/application_list.scss */
.mb-0 {
  margin-bottom: 0 !important;
}

/* line 12, ../sass/application_list.scss */
.mt-0 {
  margin-top: 0 !important;
}

/* line 15, ../sass/application_list.scss */
.ivrserver {
  margin-left: 200px;
  font-size: 12px;
}

/* line 21, ../sass/application_list.scss */
.appliation-modal-box {
  position: absolute;
  margin-bottom: 100px;
  margin-left: -400px;
  margin-top: -240px;
  width: 800px;
  height: auto;
  padding-bottom: 20px;
  min-height: 480px;
  font-size: 18px;
}
/* line 32, ../sass/application_list.scss */
.appliation-modal-box .btn-box {
  height: 46px;
  width: 169px;
  font-size: 18px;
  line-height: 32px;
}
/* line 39, ../sass/application_list.scss */
.appliation-modal-box .content .input {
  width: auto;
}
/* line 42, ../sass/application_list.scss */
.appliation-modal-box .defulatTips {
  width: 400px;
  height: 48px;
  margin: 3px auto;
  color: #0d0d0d;
  background-color: #dbdbdb;
}
/* line 49, ../sass/application_list.scss */
.appliation-modal-box .font14 {
  font-size: 14px;
}
/* line 52, ../sass/application_list.scss */
.appliation-modal-box .money {
  color: #ff9900;
}
/* line 55, ../sass/application_list.scss */
.appliation-modal-box .nomoney {
  color: #ff0000;
}
/* line 58, ../sass/application_list.scss */
.appliation-modal-box .info {
  width: 80%;
  color: #619B5A;
  margin: 0 auto;
  font-size: 14px;
  background-color: #dff0d8;
}
/* line 65, ../sass/application_list.scss */
.appliation-modal-box .phone-table {
  width: 80%;
  margin: 0 auto;
}
/* line 69, ../sass/application_list.scss */
.appliation-modal-box .table {
  font-size: 14px;
}
/* line 71, ../sass/application_list.scss */
.appliation-modal-box .table td {
  padding: 4px;
}
/* line 75, ../sass/application_list.scss */
.appliation-modal-box .nav-modal-box {
  margin-top: 50px;
  width: 80%;
  text-align: center;
  margin-left: 8%;
  margin: 50px auto 0 auto;
  text-align: center;
}
/* line 83, ../sass/application_list.scss */
.appliation-modal-box .nav-modal-box .nav-modal {
  height: 30px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}
/* line 89, ../sass/application_list.scss */
.appliation-modal-box .nav-modal-box .nav-modal li {
  float: left;
  height: 20px;
  list-style: none;
}
/* line 93, ../sass/application_list.scss */
.appliation-modal-box .nav-modal-box .nav-modal li .spot {
  width: 19px;
  display: block;
  margin: 0 10px;
  float: left;
  height: 19px;
  background: url("../images/index/l4.png") no-repeat left center;
}
/* line 101, ../sass/application_list.scss */
.appliation-modal-box .nav-modal-box .nav-modal li .s-active {
  background: url("../images/index/l5.png") no-repeat left center;
}
/* line 104, ../sass/application_list.scss */
.appliation-modal-box .nav-modal-box .nav-modal li .lines {
  height: 19px;
  width: 60px;
  display: block;
  float: left;
  background: url("../images/index/l2.png") no-repeat left center;
}
/* line 111, ../sass/application_list.scss */
.appliation-modal-box .nav-modal-box .nav-modal li .text {
  float: left;
  display: block;
}
/* line 117, ../sass/application_list.scss */
.appliation-modal-box .nav-modal-box .modal-nav {
  width: 100%;
  text-align: center;
  border: 1px solid #000;
  height: 50px;
}
/* line 124, ../sass/application_list.scss */
.appliation-modal-box .nav-modal-box .modal-nav .spot {
  width: 19px;
  height: 19px;
  display: inline-block;
}
/* line 130, ../sass/application_list.scss */
.appliation-modal-box .nav-modal-box .modal-nav .s-active {
  background: url("../images/index/l5.png") no-repeat left center;
}
/* line 133, ../sass/application_list.scss */
.appliation-modal-box .nav-modal-box .modal-nav .lines {
  height: 19px;
  width: 60px;
  background: url("../images/index/l2.png") no-repeat left center;
}
/* line 144, ../sass/application_list.scss */
.appliation-modal-box .nav-modal-box .navw-200 {
  width: 200px !important;
}
/* line 147, ../sass/application_list.scss */
.appliation-modal-box .nav-modal-box .navw-150 {
  width: 150px !important;
}
/* line 150, ../sass/application_list.scss */
.appliation-modal-box .nav-modal-box .navw-270 {
  width: 270px !important;
}
/* line 155, ../sass/application_list.scss */
.appliation-modal-box .nav-modal-box .nav-modal-text {
  height: 30px;
  display: block;
  margin: 0 auto;
  width: 380px;
  padding: 0;
}
/* line 161, ../sass/application_list.scss */
.appliation-modal-box .nav-modal-box .nav-modal-text li {
  float: left;
  font-size: 14px;
  text-align: center;
  list-style: none;
  margin-left: 5px;
  margin-right: 38px;
}
/* line 169, ../sass/application_list.scss */
.appliation-modal-box .nav-modal-box .nav-modal-text .ml-3 {
  margin-left: 3px;
}
/* line 172, ../sass/application_list.scss */
.appliation-modal-box .nav-modal-box .nav-modal-text .ml-30 {
  margin-left: 30px;
}
/* line 175, ../sass/application_list.scss */
.appliation-modal-box .nav-modal-box .nav-modal-text .ml-20 {
  margin-left: 20px;
}
/* line 178, ../sass/application_list.scss */
.appliation-modal-box .nav-modal-box .nav-modal-text .mr-0 {
  margin-right: 0;
}

/* line 188, ../sass/application_list.scss */
.tablelist .operation a {
  text-decoration: underline;
  width: auto;
  padding-right: 5px;
}
/* line 195, ../sass/application_list.scss */
.tablelist .operation span {
  border-left: 1px dotted #ecedec;
  padding: 0 5px;
}
/* line 199, ../sass/application_list.scss */
.tablelist .operation .apply {
  border: 0 !important;
  padding: 0 !important;
}
/* line 204, ../sass/application_list.scss */
.tablelist tr {
  height: 45px;
}
