/* line 2, ../sass/application_detail.scss */
.application-tab .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
  width: 203px;
  text-align: center;
  height: 53px;
}
/* line 9, ../sass/application_detail.scss */
.application-tab .nav-tabs > li > a {
  float: left;
  margin-bottom: -1px;
  width: 203px;
  line-height: 32px;
  font-size: 18px;
  text-align: center;
  height: 53px;
}
/* line 23, ../sass/application_detail.scss */
.application-tab ul .right {
  float: right;
}
/* line 24, ../sass/application_detail.scss */
.application-tab ul .right .defind {
  border-color: #357ebd;
  background-color: #428bca;
  width: 110px;
  font-size: 14px;
  height: 33px;
  border: 0;
  border-radius: 2px;
  line-height: 33px;
  float: right;
  padding: 0;
  text-align: center;
}
/* line 40, ../sass/application_detail.scss */
.application-tab .tab-content {
  padding: 0 15px;
  border: 1px solid #e8e8e8;
  border-top: 1px solid transparent;
}
/* line 45, ../sass/application_detail.scss */
.application-tab .sizebox {
  line-height: 32px;
  font-size: 14px;
}

/* line 51, ../sass/application_detail.scss */
.appliaction-detail .row {
  margin-top: 5px;
  margin-bottom: 10px;
}
/* line 56, ../sass/application_detail.scss */
.appliaction-detail .panel-heading i {
  margin-right: 10px;
}
/* line 59, ../sass/application_detail.scss */
.appliaction-detail .panel-heading .title {
  color: #333;
  font-weight: 500;
}
/* line 64, ../sass/application_detail.scss */
.appliaction-detail .devbox, .appliaction-detail .basebox {
  min-height: 300px;
}
/* line 67, ../sass/application_detail.scss */
.appliaction-detail .base {
  padding: 0;
  min-width: 80px;
  max-width: 80px;
  text-align: right;
}
/* line 73, ../sass/application_detail.scss */
.appliaction-detail .dev {
  padding: 0;
  min-width: 110px;
  text-align: right;
  max-width: 110px;
}

/* line 82, ../sass/application_detail.scss */
.application-detail-box .info {
  text-align: left;
  color: #619B5A;
  padding: 5px 15px;
  margin: 10px;
  background-color: #dff0d8;
}
/* line 89, ../sass/application_detail.scss */
.application-detail-box .input-box {
  margin: 10px;
}
/* line 92, ../sass/application_detail.scss */
.application-detail-box .mt-20 {
  margin-top: 20px;
}
/* line 95, ../sass/application_detail.scss */
.application-detail-box .mt-10 {
  margin-top: 10px;
}
/* line 101, ../sass/application_detail.scss */
.application-detail-box .check-box {
  height: 14px !important;
  width: 14px;
}
/* line 105, ../sass/application_detail.scss */
.application-detail-box .input-text {
  height: 33px !important;
}
/* line 108, ../sass/application_detail.scss */
.application-detail-box .scrolldiv {
  overflow-y: auto;
  height: 100px;
  border: 1px solid #cccccc;
  padding: 5px;
  margin-top: 10px;
}

/* line 117, ../sass/application_detail.scss */
.voice-format {
  background: url("../images/index/voice_fromt.png") no-repeat left center;
  padding-left: 20px !important;
}

/* line 122, ../sass/application_detail.scss */
.application_info {
  padding: 10px 15px;
  text-align: left;
  margin-top: 20px;
  color: #619B5A;
  background-color: #dff0d8;
  font-size: 14px;
}
/* line 129, ../sass/application_detail.scss */
.application_info .right {
  float: right;
  margin-right: 10px;
}
/* line 133, ../sass/application_detail.scss */
.application_info a {
  text-decoration: underline;
}

/* line 138, ../sass/application_detail.scss */
.border-block {
  border-bottom: 1px solid #eee;
  margin-bottom: 40px;
  margin-top: 40px;
}

/* line 145, ../sass/application_detail.scss */
.font14 {
  font-size: 14px !important;
}

/* line 149, ../sass/application_detail.scss */
.line32 {
  line-height: 32px;
}

/* line 153, ../sass/application_detail.scss */
.h10 {
  height: 10px !important;
}

/* line 157, ../sass/application_detail.scss */
.application-file-box {
  height: 380px;
  margin-top: -190px !important;
}
/* line 160, ../sass/application_detail.scss */
.application-file-box .overscroll {
  height: 50px;
  overfllow: auto;
  overflow-y: scroll;
}

/* line 170, ../sass/application_detail.scss */
.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

/* line 175, ../sass/application_detail.scss */
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  /* line 189, ../sass/application_detail.scss */
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
