/* line 6, ../sass/aside.scss */
.aside.canbehover:hover, .nav_green ul.nav > li:hover > a, .nav_green ul.nav > li:focus > a, .nav_green ul.nav > li > a:hover, .nav_green ul.nav > li > a:focus, .nav_green ul.nav > li > a:active, .nav_green ul.nav > li.active > a {
  background-color: #2e97cb !important;
}

/* line 12, ../sass/aside.scss */
aside.aside.bg-Green.lter {
  background: linear-gradient(to bottom, #0E2835 53%, #415966);
}

/* line 17, ../sass/aside.scss */
.aside-section {
  height: 100%;
}
/* line 20, ../sass/aside.scss */
.aside-section .hbox {
  height: 100%;
}

/* line 26, ../sass/aside.scss */
.bg-green .wrapper {
  height: 36px;
  min-height: 0px;
}

/* line 33, ../sass/aside.scss */
.nav_green li > a > i {
  font-size: 1.5rem;
  line-height: 37px;
}

/* line 39, ../sass/aside.scss */
.list li .nav > li > a {
  font-size: 1.2rem;
}

/* line 44, ../sass/aside.scss */
.list li a, .list span {
  font-size: 1.2rem;
}
/* line 47, ../sass/aside.scss */
.list li {
  position: inherit;
}
/* line 50, ../sass/aside.scss */
.list li a.active {
  background-color: #2e97cb !important;
}

/* line 56, ../sass/aside.scss */
.list .nav a:hover, a.canbehover:hover {
  background-color: #2e97cb !important;
}

/* line 63, ../sass/aside.scss */
.w-f .head.lter {
  background: #193643;
}

/* line 68, ../sass/aside.scss */
.bg-Green.lter, .bg-Green .lter, #top_h {
  background: #0E2835;
}

/* line 75, ../sass/aside.scss */
.bg-green {
  background-color: #EAEDF1;
  color: #333;
}
/* line 79, ../sass/aside.scss */
.bg-green a, .bg-green a:hover {
  color: #0d0d0d;
}
/* line 83, ../sass/aside.scss */
.bg-green .wrapper {
  background: #EAEDF1;
}

/* line 88, ../sass/aside.scss */
.padding-10 {
  padding-left: 10px  !important;
  padding-right: 10px !important;
}

/* line 94, ../sass/aside.scss */
.navbar-nav a:hover {
  color: #FFF !important;
}

/* line 101, ../sass/aside.scss */
.list li .nav > li > a {
  background: #103345;
}

/* line 105, ../sass/aside.scss */
.width_h {
  color: #090909;
}

/* line 109, ../sass/aside.scss */
.aside-mini {
  width: 55px;
  transition: 0.5s;
}
/* line 113, ../sass/aside.scss */
.aside-mini span {
  display: none;
}
/* line 117, ../sass/aside.scss */
.aside-mini .list li a {
  padding: 20px 4px;
  height: 40px;
  line-height: 40px;
}
/* line 123, ../sass/aside.scss */
.aside-mini ul.nav > li > a {
  padding: 21px 3px;
}
/* line 131, ../sass/aside.scss */
.aside-mini .img-shrink {
  transform: rotate(90deg);
}
/* line 135, ../sass/aside.scss */
.aside-mini .nav_green li > a > i {
  margin: -19px 0px;
  width: 100%;
}

/* line 142, ../sass/aside.scss */
.aside-li-a a {
  font-size: 1.2rem;
  font-weight: normal;
  display: inline-block;
  text-indent: 50px;
  height: 41px;
  width: 100%;
  line-height: 41px;
}
/* line 152, ../sass/aside.scss */
.aside-li-a.active {
  background: white;
}
/* line 156, ../sass/aside.scss */
.aside-li-a a:hover {
  background: white;
}

/* line 161, ../sass/aside.scss */
.xbox .head-box {
  background: #f7f7f7;
  left: -15px;
}

/* line 166, ../sass/aside.scss */
.bg-white {
  background: white;
}

/* line 171, ../sass/aside.scss */
.tooltip.right {
  width: 80px;
}

/* line 176, ../sass/aside.scss */
.navbar-index {
  width: 125px;
}
