/* line 6, ../sass/aside.scss */
.w-f .head.lter {
  background: #193643;
}

/* line 11, ../sass/aside.scss */
.bg-Green.lter, .bg-Green .lter, #top_h {
  background: #0E2835;
  background-color: #0E2835;
}

/* line 17, ../sass/aside.scss */
.bg-green {
  background-color: #EAEDF1;
  color: #333;
}
/* line 21, ../sass/aside.scss */
.bg-green a {
  color: #0d0d0d;
}
/* line 25, ../sass/aside.scss */
.bg-green .wrapper {
  background: #EAEDF1;
}

/* line 30, ../sass/aside.scss */
.list li .nav > li > a {
  background: #103345;
}

/* line 34, ../sass/aside.scss */
.width_h {
  color: #090909;
}

/* line 38, ../sass/aside.scss */
.aside-mini {
  width: 55px;
  transition: 0.5s;
}
/* line 42, ../sass/aside.scss */
.aside-mini span {
  display: none;
}
/* line 45, ../sass/aside.scss */
.aside-mini .list li a {
  padding: 20px 4px;
  height: 40px;
  line-height: 40px;
}
/* line 50, ../sass/aside.scss */
.aside-mini ul.nav > li > a {
  padding: 21px 3px;
}
/* line 54, ../sass/aside.scss */
.aside-mini .img-shrink {
  transform: rotate(90deg);
}
/* line 58, ../sass/aside.scss */
.aside-mini .nav_green li > a > i {
  margin: -23px 0px;
}
