/* line 1, ../sass/common.scss */
.admin-padding {
  padding-right: 5px;
  padding-left: 5px;
}

/* line 6, ../sass/common.scss */
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

/* line 12, ../sass/common.scss */
.border-left {
  border-left: 2px solid #2e97cb;
  padding-left: 5px;
  font-weight: bold;
  font-size: 1.2rem;
}

/* line 18, ../sass/common.scss */
.border-right {
  text-decoration: underline;
  font-size: 1.2rem;
  float: right;
}

/* line 24, ../sass/common.scss */
.border-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

/* line 28, ../sass/common.scss */
.border-top-none {
  border-top: none;
}

/* line 32, ../sass/common.scss */
.bootbox-body {
  font-size: 15px;
}

/* line 36, ../sass/common.scss */
.number {
  color: #FC8408;
}

/* line 40, ../sass/common.scss */
.fa-database:before {
  content: '\f1c0';
}

/* line 44, ../sass/common.scss */
.fa-clone:before {
  content: '\f24d';
}

/* line 49, ../sass/common.scss */
.fa-caret-down.active {
  transform: rotate(-90deg);
}

/* line 54, ../sass/common.scss */
.btn-file {
  position: relative;
  overflow: hidden;
}

/* line 54, ../sass/common.scss */
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* line 56, ../sass/common.scss */
.greenborder {
  border-color: #76dcd8 !important;
}

/* line 60, ../sass/common.scss */
.blueborder {
  border-color: #80d1ff !important;
}

/* line 64, ../sass/common.scss */
.yellowborder {
  border-color: #f9e993 !important;
}

/* line 68, ../sass/common.scss */
.pinkborder {
  border-color: #f1adc3 !important;
}

/* line 72, ../sass/common.scss */
.bigicon {
  font-size: 2.8rem !important;
}

/* line 76, ../sass/common.scss */
.smallicon {
  font-size: 0.6rem !important;
}

/* line 80, ../sass/common.scss */
.middleicon {
  font-size: 2.0rem !important;
}

/* line 84, ../sass/common.scss */
.green {
  color: #76dcd8 !important;
}

/* line 87, ../sass/common.scss */
.blue {
  color: #80d1ff !important;
}

/* line 90, ../sass/common.scss */
.yellow {
  color: #f9e993 !important;
}

/* line 93, ../sass/common.scss */
.pink {
  color: #f1adc3 !important;
}

/* line 96, ../sass/common.scss */
.small-font-size {
  font-size: 1.2rem !important;
}

/* line 100, ../sass/common.scss */
.normal-font-size {
  font-size: 1.4rem !important;
}

/* line 104, ../sass/common.scss */
.middle-font-size {
  font-size: 1.6rem !important;
}

/* line 108, ../sass/common.scss */
.big-font-size {
  font-size: 1.8rem !important;
}

/* line 112, ../sass/common.scss */
.bigger-font-size {
  font-size: 3.2rem !important;
}

/* line 116, ../sass/common.scss */
.remove-border {
  border: 0;
}

/* line 120, ../sass/common.scss */
.width-twenty-percent {
  width: 20% !important;
}

/* line 124, ../sass/common.scss */
.m-t-25 {
  margin-top: 25px;
}

/* line 127, ../sass/common.scss */
.m-r-5 {
  margin-right: 5px;
}
