/* line 1, ../sass/common.scss */
.admin-padding {
  padding-right: 5px;
  padding-left: 5px;
}

/* line 6, ../sass/common.scss */
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

/* line 12, ../sass/common.scss */
.border-left {
  border-left: 2px solid #2e97cb;
  padding-left: 5px;
  font-weight: bold;
  font-size: 1.2rem;
}

/* line 18, ../sass/common.scss */
.border-right {
  text-decoration: underline;
  font-size: 1.2rem;
  float: right;
}

/* line 24, ../sass/common.scss */
.border-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

/* line 28, ../sass/common.scss */
.border-top-none {
  border-top: none;
}

/* line 32, ../sass/common.scss */
.bootbox-body {
  font-size: 15px;
}

/* line 36, ../sass/common.scss */
.number {
  color: #FC8408;
}

/* line 40, ../sass/common.scss */
.fa-database:before {
  content: '\f1c0';
}

/* line 44, ../sass/common.scss */
.fa-clone:before {
  content: '\f24d';
}

/* line 49, ../sass/common.scss */
.fa-caret-down.active {
  transform: rotate(-90deg);
}

/* line 55, ../sass/common.scss */
.icon-menu-down.active {
  transform: rotate(-90deg);
}

/* line 60, ../sass/common.scss */
.btn-file {
  position: relative;
  overflow: hidden;
}

/* line 60, ../sass/common.scss */
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* line 62, ../sass/common.scss */
.greenborder {
  border-color: #76dcd8 !important;
}

/* line 66, ../sass/common.scss */
.blueborder {
  border-color: #80d1ff !important;
}

/* line 70, ../sass/common.scss */
.yellowborder {
  border-color: #f9e993 !important;
}

/* line 74, ../sass/common.scss */
.pinkborder {
  border-color: #f1adc3 !important;
}

/* line 78, ../sass/common.scss */
.bigicon {
  font-size: 2.8rem !important;
}

/* line 82, ../sass/common.scss */
.smallicon {
  font-size: 0.6rem !important;
}

/* line 86, ../sass/common.scss */
.middleicon {
  font-size: 2.0rem !important;
}

/* line 90, ../sass/common.scss */
.green {
  color: #76dcd8 !important;
}

/* line 93, ../sass/common.scss */
.blue {
  color: #80d1ff !important;
}

/* line 96, ../sass/common.scss */
.yellow {
  color: #f9e993 !important;
}

/* line 99, ../sass/common.scss */
.pink {
  color: #f1adc3 !important;
}

/* line 102, ../sass/common.scss */
.orange {
  color: #ff9900 !important;
}

/* line 105, ../sass/common.scss */
.small-font-size {
  font-size: 1.2rem !important;
}

/* line 109, ../sass/common.scss */
.normal-font-size {
  font-size: 1.4rem !important;
}

/* line 113, ../sass/common.scss */
.middle-font-size {
  font-size: 1.6rem !important;
}

/* line 117, ../sass/common.scss */
.big-font-size {
  font-size: 1.8rem !important;
}

/* line 121, ../sass/common.scss */
.bigger-font-size {
  font-size: 3.2rem !important;
}

/* line 125, ../sass/common.scss */
.remove-border {
  border: 0;
}

/* line 129, ../sass/common.scss */
.width-twenty-percent {
  width: 20% !important;
}

/* line 133, ../sass/common.scss */
.m-t-25 {
  margin-top: 25px;
}

/* line 136, ../sass/common.scss */
.m-r-5 {
  margin-right: 5px;
}

/* line 140, ../sass/common.scss */
.m-r-20 {
  margin-right: 20px;
}

/* line 144, ../sass/common.scss */
.height-10 {
  height: 10px !important;
}

/* line 148, ../sass/common.scss */
.remove-padding-right {
  padding-right: 0 !important;
}

/* line 152, ../sass/common.scss */
.remove-padding-left {
  padding-left: 0 !important;
}

/* line 158, ../sass/common.scss */
#app-tag .app-tag {
  height: 50px;
  width: 140px;
  font-size: 16px;
  margin-right: 25px;
  color: #3276b1;
  background: #FFF;
  border: 1px solid #cccccc;
}
/* line 166, ../sass/common.scss */
#app-tag .app-tag i {
  margin-right: 8px;
  display: inline-block;
  font-size: 24px;
  color: #3276b1;
}
/* line 172, ../sass/common.scss */
#app-tag .app-tag:hover, #app-tag .app-tag.active {
  color: #FFFFFF;
  background: #3276b1;
  box-shadow: none;
  border: 1px solid transparent;
}
/* line 177, ../sass/common.scss */
#app-tag .app-tag:hover i, #app-tag .app-tag.active i {
  color: #FFFFFF;
}

/* line 184, ../sass/common.scss */
.btn-call {
  background: #f9e993;
  border: 1px solid #e4d376;
  color: #333;
}

/* line 190, ../sass/common.scss */
.margin_left-20, .margin-left-20 {
  margin-left: 20px;
}

/* line 194, ../sass/common.scss */
.block {
  display: block;
}

/* line 198, ../sass/common.scss */
.order-by-box {
  position: relative;
  display: inline-block;
  top: 5px;
  width: 15px;
  height: 15px;
}
/* line 204, ../sass/common.scss */
.order-by-box i {
  position: absolute;
  width: 15px;
  text-align: center;
}
/* line 208, ../sass/common.scss */
.order-by-box i:hover {
  color: #00a6ce;
}
/* line 212, ../sass/common.scss */
.order-by-box .active {
  color: #00a6ce;
}
/* line 215, ../sass/common.scss */
.order-by-box .up {
  top: 2px;
}

/* line 223, ../sass/common.scss */
.text-center-l-fixed {
  width: 50px;
  display: inline-block;
  text-align: left;
}

/* line 229, ../sass/common.scss */
.text-center-r-fixed {
  width: 50px;
  display: inline-block;
  text-align: right;
}

/* line 235, ../sass/common.scss */
.text-left-fixed {
  padding-left: 50px !important;
}

/* line 239, ../sass/common.scss */
.cursor {
  cursor: pointer;
}

/* line 243, ../sass/common.scss */
.search-box .inline-block {
  margin-bottom: 10px;
  vertical-align: top;
}
/* line 247, ../sass/common.scss */
.search-box .btn {
  display: inline-block;
}

/* line 251, ../sass/common.scss */
.search-small-title {
  width: 40px;
}

/* line 254, ../sass/common.scss */
.search-title {
  width: 60px;
}

/* line 257, ../sass/common.scss */
.search-bigger-title {
  width: 80px;
}

/* line 260, ../sass/common.scss */
.search-input {
  max-width: 130px;
}

/* line 264, ../sass/common.scss */
.float-right {
  float: right;
}

/* line 267, ../sass/common.scss */
.float-left {
  float: left;
}

/* line 270, ../sass/common.scss */
.download {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  vertical-align: bottom;
  background-size: cover;
  display: inline-block;
  background-image: url(../images/loading.gif);
}
