/* line 1, ../sass/cost_invoice_detail.scss */
.line34 {
  line-height: 34px !important;
}

/* line 4, ../sass/cost_invoice_detail.scss */
.cost_invoice .text-right {
  width: 120px !important;
}

/* line 7, ../sass/cost_invoice_detail.scss */
.padding-15 {
  padding: 15px;
}

/* line 10, ../sass/cost_invoice_detail.scss */
.lineheight-24 {
  line-height: 24px !important;
}

/* line 13, ../sass/cost_invoice_detail.scss */
.recordimg {
  margin: 10px 0;
}
