/* line 4, ../sass/cost_recharge.scss */
.cost-rechage .text-right {
  width: 88px;
}

/* line 10, ../sass/cost_recharge.scss */
.cost-box {
  padding: 15px;
  font-size: 14px;
  color: #4a4a4a;
}
/* line 14, ../sass/cost_recharge.scss */
.cost-box .input-box {
  width: auto !important;
}
/* line 16, ../sass/cost_recharge.scss */
.cost-box .input-box img {
  border: 0;
}
/* line 20, ../sass/cost_recharge.scss */
.cost-box .help-block {
  position: absolute;
  top: 0;
  left: 188px;
  font-size: 12px;
  width: 150px;
}

/* line 28, ../sass/cost_recharge.scss */
.cost-tips-box {
  display: inline-table;
  width: 100%;
  background-color: #f2ffea;
  color: #35840d;
  padding: 15px 0;
}

/* line 35, ../sass/cost_recharge.scss */
.cost-money {
  color: #ff9900;
  font-size: 32px;
}
/* line 38, ../sass/cost_recharge.scss */
.cost-money .floatmoney {
  font-size: 24px;
}
/* line 41, ../sass/cost_recharge.scss */
.cost-money .unit {
  color: #717171;
  line-height: 30px;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/* line 50, ../sass/cost_recharge.scss */
.line30 {
  line-height: 30px;
}

/* line 53, ../sass/cost_recharge.scss */
.font24 {
  font-size: 24px;
  font-family: monospace;
}
