/* line 2, ../sass/cost_invoice_record.scss */
.invoiceapply {
  margin-top: 20px;
}
/* line 4, ../sass/cost_invoice_record.scss */
.invoiceapply .font {
  font-size: 18px;
}
/* line 7, ../sass/cost_invoice_record.scss */
.invoiceapply .price {
  color: #ff9900;
  font-size: 24px;
}
/* line 11, ../sass/cost_invoice_record.scss */
.invoiceapply .point {
  color: #ff9900;
  font-size: 14px;
}

/* line 17, ../sass/cost_invoice_record.scss */
.text-l {
  text-align: left !important;
}

/* line 21, ../sass/cost_invoice_record.scss */
.price-box {
  background-color: #f1f1f1 !important;
}

/* line 25, ../sass/cost_invoice_record.scss */
.pageSyncWrap {
  height: 50px;
}

/* line 29, ../sass/cost_invoice_record.scss */
.sync-table-box {
  font-size: 12px !important;
}

/* line 35, ../sass/cost_invoice_record.scss */
.cost-detail-modal .a-title {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px dashed #ececec;
}
/* line 42, ../sass/cost_invoice_record.scss */
.cost-detail-modal .accordion-group {
  height: 500px;
  display: block;
  overflow-y: scroll;
}
/* line 48, ../sass/cost_invoice_record.scss */
.cost-detail-modal .title {
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid #bfbfbf;
}
/* line 54, ../sass/cost_invoice_record.scss */
.cost-detail-modal .c-title {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #ececec;
}
/* line 59, ../sass/cost_invoice_record.scss */
.cost-detail-modal .content {
  background-color: #fbfbfb;
  padding: 10px 0 0 0;
}
/* line 62, ../sass/cost_invoice_record.scss */
.cost-detail-modal .content .row {
  padding-left: 0;
}
