/* line 3, ../sass/index.scss */
.padder-v {
  padding-bottom: 0px;
  padding-top: 0px;
}

/* line 9, ../sass/index.scss */
.app-list .app-status-center {
  width: 100%;
}
/* line 13, ../sass/index.scss */
.app-list .app-status-right {
  width: 50%;
  text-align: left;
}
/* line 18, ../sass/index.scss */
.app-list .app-status-left {
  width: 28%;
}
/* line 20, ../sass/index.scss */
.app-list .app-status-left a {
  padding-right: 10px;
}
/* line 25, ../sass/index.scss */
.app-list .app-status-list {
  list-style: none;
}
/* line 27, ../sass/index.scss */
.app-list .app-status-list li {
  margin-top: 5px;
}
/* line 32, ../sass/index.scss */
.app-list .app-icon {
  width: 50px;
}

/* line 37, ../sass/index.scss */
.fix-padding {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 42, ../sass/index.scss */
.panel {
  margin-bottom: 10px;
}

/* line 46, ../sass/index.scss */
section.yunhuni-personal {
  margin-top: 5px;
}
/* line 49, ../sass/index.scss */
section.yunhuni-personal.panel {
  border: none;
  box-shadow: none;
}
/* line 54, ../sass/index.scss */
section.yunhuni-personal .account-number {
  color: #FC8408;
  font-size: 23px;
}
/* line 59, ../sass/index.scss */
section.yunhuni-personal .account-number-decimal {
  color: #FC8408;
}
/* line 63, ../sass/index.scss */
section.yunhuni-personal .box-footer {
  margin: 5px;
  position: absolute;
  bottom: 5px;
  right: 20px;
}
/* line 70, ../sass/index.scss */
section.yunhuni-personal .account-left {
  margin-top: 10px;
}
/* line 72, ../sass/index.scss */
section.yunhuni-personal .account-left .account-number-small {
  color: #FC8408;
  font-size: 15px;
}
/* line 78, ../sass/index.scss */
section.yunhuni-personal .w-half {
  display: inline-block;
  width: 50%;
  float: right;
}

/* line 85, ../sass/index.scss */
.wrapperBox {
  min-height: 130px;
  background: whitesmoke;
  border: 1px solid rgba(28, 27, 27, 0.08);
  box-shadow: 0px 1px 1px #dddddd;
  padding: 15px;
}

/* line 93, ../sass/index.scss */
section.panel.pos-rlt {
  border: none;
  box-shadow: none;
  padding-right: 5px;
  padding-left: 5px;
}
/* line 99, ../sass/index.scss */
section.panel.pos-rlt .sectionWrap {
  border: 1px solid rgba(28, 27, 27, 0.08);
  box-shadow: 0px 1px 1px #dddddd;
}
/* line 102, ../sass/index.scss */
section.panel.pos-rlt .sectionWrap .panel-heading {
  background-color: #f5f5f5;
}

/* line 109, ../sass/index.scss */
.modal-body .tips {
  color: #a94442;
}

/* line 115, ../sass/index.scss */
.header-msg {
  position: relative;
  top: -12px;
  left: -5px;
  width: 5px;
  border-radius: 5px;
  height: 5px;
  display: inline-block;
}

/* line 125, ../sass/index.scss */
.tips-toast {
  position: fixed;
  width: 300px;
  z-index: 999999;
  height: auto;
  background: #000000;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  display: none;
  -khtml-opacity: 0.6;
  opacity: 0.7;
  padding: 20px 30px;
  top: 52px;
  left: 50%;
  margin-left: -150px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

/* line 145, ../sass/index.scss */
.inline-block {
  display: inline-block;
}

/* line 148, ../sass/index.scss */
.pull-left {
  width: auto;
}

/* line 151, ../sass/index.scss */
.span-required {
  margin-left: 5px;
  color: #bb1c1c;
  line-height: 36px;
}

/* line 158, ../sass/index.scss */
.loadding {
  height: 50px;
  display: none;
  width: 50px;
  z-index: 9999;
  margin-top: -25px;
  margin-left: -25px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #1b1b1b;
  background: url(../images/loading.gif) center center no-repeat;
}

/* line 172, ../sass/index.scss */
input[readonly] {
  cursor: pointer !important;
  background-color: #ffffff !important;
}

/* line 177, ../sass/index.scss */
.tips-error {
  color: #ff0000 !important;
}

/* line 181, ../sass/index.scss */
.tips-warning {
  color: #f18f48 !important;
}

/* line 185, ../sass/index.scss */
.common-info {
  text-align: left;
  color: #35840d;
  display: block;
  font-size: 14px;
  margin: 10px 20px 0 20px;
  padding: 15px;
  background-color: #f2ffea;
  height: 50px;
  box-shadow: 0px 1px 1px #dddddd;
}
/* line 195, ../sass/index.scss */
.common-info .content {
  width: 80%;
  display: inline-block;
  float: left;
}
/* line 200, ../sass/index.scss */
.common-info a {
  text-decoration: underline;
  padding: 0 5px;
}
/* line 204, ../sass/index.scss */
.common-info .close {
  width: 25px;
  height: 20px;
  opacity: 1;
  float: right;
  display: inline-block;
  background: url(../images/index/commom_close.png) center center no-repeat;
}
/* line 212, ../sass/index.scss */
.common-info .detail {
  float: right;
}

/* line 217, ../sass/index.scss */
.form-control-file {
  width: 100%;
  padding: 4px 12px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/* line 237, ../sass/index.scss */
.font16 {
  font-size: 16px;
}

/* line 241, ../sass/index.scss */
.header-index-img {
  padding-bottom: 3px;
}

/* line 244, ../sass/index.scss */
#footer {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 1500px) {
  /* line 259, ../sass/index.scss */
  #footer {
    position: static;
    bottom: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }
  /* line 266, ../sass/index.scss */
  #footer p {
    display: inline-block;
  }
}
/* line 270, ../sass/index.scss */
.remove-marigin-bottom {
  margin-bottom: 0 !important;
}

/* line 274, ../sass/index.scss */
.margin-auto {
  margin: 0 auto !important;
}

/* line 278, ../sass/index.scss */
.index-key {
  width: 53px;
  display: inline-block;
  text-align: right;
}
