/* line 3, ../sass/index.scss */
.padder-v {
  padding-bottom: 0px;
  padding-top: 0px;
}

/* line 9, ../sass/index.scss */
.app-list .app-status-center {
  width: 100%;
}
/* line 13, ../sass/index.scss */
.app-list .app-status-right {
  width: 50%;
  text-align: left;
}
/* line 18, ../sass/index.scss */
.app-list .app-status-left {
  width: 28%;
}
/* line 20, ../sass/index.scss */
.app-list .app-status-left a {
  padding-right: 10px;
}
/* line 25, ../sass/index.scss */
.app-list .app-status-list {
  list-style: none;
}
/* line 27, ../sass/index.scss */
.app-list .app-status-list li {
  margin-top: 5px;
}
/* line 32, ../sass/index.scss */
.app-list .app-icon {
  width: 50px;
}

/* line 37, ../sass/index.scss */
.fix-padding {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 42, ../sass/index.scss */
.panel {
  margin-bottom: 10px;
}

/* line 46, ../sass/index.scss */
section.yunhuni-personal {
  margin-top: 5px;
}
/* line 49, ../sass/index.scss */
section.yunhuni-personal.panel {
  border: none;
  box-shadow: none;
}
/* line 54, ../sass/index.scss */
section.yunhuni-personal .account-number {
  color: #FC8408;
  font-size: 23px;
}
/* line 59, ../sass/index.scss */
section.yunhuni-personal .account-money {
  font-size: 26px;
}
/* line 66, ../sass/index.scss */
section.yunhuni-personal .account-number-decimal {
  color: #FC8408;
}
/* line 70, ../sass/index.scss */
section.yunhuni-personal .box-footer {
  margin: 5px;
  position: absolute;
  bottom: 5px;
  right: 20px;
}
/* line 77, ../sass/index.scss */
section.yunhuni-personal .account-left {
  margin-top: 10px;
}
/* line 79, ../sass/index.scss */
section.yunhuni-personal .account-left .account-number-small {
  color: #FC8408;
  font-size: 15px;
}
/* line 85, ../sass/index.scss */
section.yunhuni-personal .w-half {
  display: inline-block;
  width: 50%;
  float: right;
}

/* line 92, ../sass/index.scss */
.wrapperBox {
  min-height: 130px;
  background: whitesmoke;
  border: 1px solid rgba(28, 27, 27, 0.08);
  box-shadow: 0px 1px 1px #dddddd;
  padding: 15px;
}

/* line 100, ../sass/index.scss */
.wrappernewBox {
  min-height: 170px;
  background: #FFFFFF;
  border: 1px solid rgba(28, 27, 27, 0.08);
  padding: 15px;
}

/* line 107, ../sass/index.scss */
.green-border-top {
  border-top: 4px solid #76dcd8 !important;
}

/* line 111, ../sass/index.scss */
.blue-border-top {
  border-top: 4px solid #80d1ff !important;
}

/* line 115, ../sass/index.scss */
.yellow-border-top {
  border-top: 4px solid #f9e993 !important;
}

/* line 119, ../sass/index.scss */
.pink-border-top {
  border-top: 4px solid #f1adc3 !important;
}

/* line 123, ../sass/index.scss */
section.panel.pos-rlt {
  border: none;
  box-shadow: none;
  padding-right: 5px;
  padding-left: 5px;
}
/* line 129, ../sass/index.scss */
section.panel.pos-rlt .sectionWrap {
  border: 1px solid rgba(28, 27, 27, 0.08);
  box-shadow: 0px 1px 1px #dddddd;
}
/* line 132, ../sass/index.scss */
section.panel.pos-rlt .sectionWrap .panel-heading {
  background-color: #f5f5f5;
}
/* line 137, ../sass/index.scss */
section.panel.pos-rlt .sectionnewWrap {
  border: 1px solid rgba(28, 27, 27, 0.08);
}
/* line 139, ../sass/index.scss */
section.panel.pos-rlt .sectionnewWrap .panel-heading {
  background-color: #f8f9fc;
}
/* line 142, ../sass/index.scss */
section.panel.pos-rlt .sectionnewWrap .develop-icon {
  width: 16px;
}

/* line 150, ../sass/index.scss */
.modal-body .tips {
  color: #a94442;
}

/* line 156, ../sass/index.scss */
.header-msg {
  position: relative;
  top: -12px;
  left: -5px;
  width: 5px;
  border-radius: 5px;
  height: 5px;
  display: inline-block;
}

/* line 166, ../sass/index.scss */
.tips-toast {
  position: fixed;
  width: 300px;
  z-index: 999999;
  height: auto;
  background: #000000;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  display: none;
  -khtml-opacity: 0.6;
  opacity: 0.7;
  padding: 20px 30px;
  top: 52px;
  left: 50%;
  margin-left: -150px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

/* line 186, ../sass/index.scss */
.inline-block {
  display: inline-block;
}

/* line 189, ../sass/index.scss */
.pull-left {
  width: auto;
}

/* line 192, ../sass/index.scss */
.span-required {
  margin-left: 5px;
  color: #bb1c1c;
  line-height: 36px;
}

/* line 197, ../sass/index.scss */
.warpbox {
  border-right: 1px solid rgba(28, 27, 27, 0.08);
  padding: 40px;
  line-height: 32px;
}
/* line 200, ../sass/index.scss */
.warpbox .money {
  font-size: 1.8rem;
  padding: 0 10px;
}
/* line 204, ../sass/index.scss */
.warpbox .datamonth {
  display: none;
}

/* line 210, ../sass/index.scss */
.loadding {
  height: 50px;
  display: none;
  width: 50px;
  z-index: 9999;
  margin-top: -25px;
  margin-left: -25px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #1b1b1b;
  background: url(../images/loading.gif) center center no-repeat;
}

/* line 224, ../sass/index.scss */
input[readonly] {
  cursor: pointer !important;
  background-color: #ffffff !important;
}

/* line 229, ../sass/index.scss */
.tips-error {
  color: #ff0000 !important;
}

/* line 233, ../sass/index.scss */
.tips-warning {
  color: #f18f48 !important;
}

/* line 237, ../sass/index.scss */
.common-info {
  text-align: left;
  color: #35840d;
  display: block;
  font-size: 14px;
  margin: 10px 20px 0 20px;
  padding: 15px;
  background-color: #f2ffea;
  height: 50px;
  box-shadow: 0px 1px 1px #dddddd;
}
/* line 247, ../sass/index.scss */
.common-info .content {
  width: 80%;
  display: inline-block;
  float: left;
}
/* line 252, ../sass/index.scss */
.common-info a {
  text-decoration: underline;
  padding: 0 5px;
}
/* line 256, ../sass/index.scss */
.common-info .close {
  width: 25px;
  height: 20px;
  opacity: 1;
  float: right;
  display: inline-block;
  background: url(../images/index/commom_close.png) center center no-repeat;
}
/* line 264, ../sass/index.scss */
.common-info .detail {
  float: right;
}

/* line 269, ../sass/index.scss */
.form-control-file {
  width: 100%;
  padding: 4px 12px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/* line 289, ../sass/index.scss */
.font16 {
  font-size: 16px;
}

/* line 293, ../sass/index.scss */
.header-index-img {
  padding-bottom: 3px;
}

/* line 296, ../sass/index.scss */
#footer {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 1500px) {
  /* line 309, ../sass/index.scss */
  #footer {
    position: static;
    bottom: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }
  /* line 316, ../sass/index.scss */
  #footer p {
    display: inline-block;
  }
}
/* line 320, ../sass/index.scss */
.remove-marigin-bottom {
  margin-bottom: 0 !important;
}

/* line 324, ../sass/index.scss */
.margin-bottom-20 {
  margin-bottom: 20px;
}

/* line 328, ../sass/index.scss */
.margin-auto {
  margin: 0 auto !important;
}

/* line 332, ../sass/index.scss */
.index-key {
  width: 53px;
  display: inline-block;
  text-align: left;
}

/* line 338, ../sass/index.scss */
.index-api {
  width: 462px;
  display: inline-block;
  text-align: left;
}

/* line 344, ../sass/index.scss */
.inline-block {
  display: inline-block !important;
}

/* line 348, ../sass/index.scss */
.remove-left-padding {
  padding-left: 0 !important;
}

/* line 352, ../sass/index.scss */
.remove-right-padding {
  padding-right: 0 !important;
}

/* line 356, ../sass/index.scss */
.tab-data {
  color: #999;
  padding-bottom: 2px;
  margin-right: 10px;
}
/* line 360, ../sass/index.scss */
.tab-data:hover {
  color: #333;
  border-bottom: 3px solid #76dcd8;
}

/* line 366, ../sass/index.scss */
.tab-active {
  color: #333;
  border-bottom: 3px solid #76dcd8;
}
