/* line 1, ../sass/login.scss */
.login-bg {
  color: #000;
  font-weight: 400;
  line-height: 1.25;
  font-family: 'MicrosoftYaHei';
  background-image: url(../images/index/bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  overflow-x: hidden;
  font-size: 14px;
  font-family: 'Microsoft YaHei';
  height: auto;
}

/* line 17, ../sass/login.scss */
.login-logo {
  margin-top: 120px;
}

/* line 21, ../sass/login.scss */
.login-box {
  padding: 16px 16px;
  margin: 10px auto 24px auto;
  max-width: 484px;
  background-color: #FFF;
  border-radius: 5px;
  display: block;
}
/* line 29, ../sass/login.scss */
.login-box .login-text {
  color: #686868;
}
/* line 32, ../sass/login.scss */
.login-box .login-form {
  display: block;
  padding: 0 5px;
  margin: 10px auto;
  width: 90%;
}
/* line 37, ../sass/login.scss */
.login-box .login-form input[type="text"],
.login-box .login-form input[type="password"] {
  height: 50px;
}
/* line 41, ../sass/login.scss */
.login-box .login-form .code-img {
  display: block;
  margin: 5px 0 0 10px;
  cursor: pointer;
}
/* line 46, ../sass/login.scss */
.login-box .login-form .form-username {
  background: url("../images/index/icon_10.png") 20px center no-repeat;
  padding-left: 40px;
}
/* line 50, ../sass/login.scss */
.login-box .login-form .form-password {
  background: url("../images/index/icon_11.png") 20px center no-repeat;
  padding-left: 40px;
}
/* line 54, ../sass/login.scss */
.login-box .login-form .form-block {
  display: inline-block;
  width: 100%;
}
/* line 58, ../sass/login.scss */
.login-box .login-form .btn-form {
  height: 48px;
  width: 100%;
  font-size: 20px;
}
/* line 64, ../sass/login.scss */
.login-box .remember-check {
  width: 14px;
  height: 14px;
  border: 1px solid #c3c3c3;
  background-color: #FFF;
}
/* line 70, ../sass/login.scss */
.login-box .margin-block {
  margin-top: 20px;
}
/* line 73, ../sass/login.scss */
.login-box .register {
  text-decoration: underline;
}
/* line 76, ../sass/login.scss */
.login-box .tips {
  background: url("../images/tips.png") no-repeat left center;
  height: 35px;
  display: inline-block;
  line-height: 35px;
  padding-left: 25px;
  color: red !important;
}
/* line 84, ../sass/login.scss */
.login-box .tips:hover {
  text-decoration: none;
}

/* line 89, ../sass/login.scss */
.border {
  border: 1px solid transparent;
}

/* line 93, ../sass/login.scss */
.remove-padding {
  padding: 0;
}

/* line 97, ../sass/login.scss */
.login-footer {
  color: #848484 !important;
}
