/* line 5, ../sass/personal_account.scss */
.row, .form-group, .form-horizontal {
  margin-left: 0;
  margin-right: 0;
}

/* line 10, ../sass/personal_account.scss */
.remove-padding {
  padding: 0;
}

/* line 14, ../sass/personal_account.scss */
.dotted-line {
  border-bottom: 1px dotted #dadada;
}

/* line 18, ../sass/personal_account.scss */
.personal-box {
  margin: 30px 30px 10px 30px;
  padding-bottom: 20px;
}
/* line 21, ../sass/personal_account.scss */
.personal-box .right {
  line-height: 32px;
}
/* line 23, ../sass/personal_account.scss */
.personal-box .right img {
  margin-right: 5px;
}

/* line 29, ../sass/personal_account.scss */
.email-tips {
  font-size: 12px;
  color: #619B5A;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
}
/* line 35, ../sass/personal_account.scss */
.email-tips i {
  color: #f18f48;
}

/* line 42, ../sass/personal_account.scss */
.account-icon i {
  display: block;
  height: 50px;
  min-width: 50px;
}

/* line 49, ../sass/personal_account.scss */
.personal-password-icon {
  background: url("../images/index/icon_13.png") no-repeat center center;
}

/* line 53, ../sass/personal_account.scss */
.personal-phone-icon {
  background: url("../images/index/icon_14.png") no-repeat center center;
}

/* line 57, ../sass/personal_account.scss */
.personal-email-icon {
  background: url("../images/index/icon_15.png") no-repeat center center;
}

/* line 61, ../sass/personal_account.scss */
.personal-protect-icon {
  background: url("../images/index/icon_16.png") no-repeat center center;
}

/* line 66, ../sass/personal_account.scss */
.personal-base .row {
  margin-bottom: 5px;
}
/* line 69, ../sass/personal_account.scss */
.personal-base a {
  text-decoration: underline;
}
/* line 72, ../sass/personal_account.scss */
.personal-base span, .personal-base a {
  margin: 0 10px;
}

/* line 76, ../sass/personal_account.scss */
.personal-edit {
  margin-left: 10px;
  padding-left: 15px;
  cursor: pointer;
  border-left: 1px dotted #dadada;
}

/* line 82, ../sass/personal_account.scss */
.tips-color {
  color: #ff0000;
}

/* line 85, ../sass/personal_account.scss */
.help-warning {
  color: #e51c23;
}

/* line 89, ../sass/personal_account.scss */
.help-block {
  font-size: 16px;
  color: #3b3b3b;
}

/* line 94, ../sass/personal_account.scss */
.help-small {
  font-size: 14px;
  color: #4b4b4b;
}

/* line 98, ../sass/personal_account.scss */
.tips-box-padding {
  padding: 15px;
}
/* line 100, ../sass/personal_account.scss */
.tips-box-padding .tips-box {
  width: 100%;
}

/* line 105, ../sass/personal_account.scss */
.tips-box {
  width: 94%;
  font-size: 14px;
  background-color: #f2ffea;
  color: #35840d;
  padding: 15px 15px;
  margin: 10px auto 0 auto;
}

/* line 114, ../sass/personal_account.scss */
.shadow-bg {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.82);
}

/* line 126, ../sass/personal_account.scss */
.modal-box {
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  margin-left: -231px;
  margin-top: -185px;
  width: 462px;
  height: 370px;
  background-color: #FFF;
}
/* line 136, ../sass/personal_account.scss */
.modal-box .title {
  height: 65px;
  background-color: #0099cc;
  text-align: center;
  color: #FFF;
  line-height: 65px;
  font-size: 18px;
}
/* line 143, ../sass/personal_account.scss */
.modal-box .title .close_a {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1002;
  background: url("../images/index/close_a.png") no-repeat center center;
}
/* line 155, ../sass/personal_account.scss */
.modal-box .content .input {
  display: block;
  width: 320px;
  margin: 10px auto;
  height: auto;
  line-height: 45px;
  font-size: 16px;
  color: #737373;
}
/* line 165, ../sass/personal_account.scss */
.modal-box .content .input-inline-block {
  display: inline-block;
  height: auto;
  margin-top: 10px;
  margin-left: 70px;
  line-height: 45px;
  font-size: 16px;
  color: #737373;
}
/* line 174, ../sass/personal_account.scss */
.modal-box .content input[type="text"],
.modal-box .content input[type="password"] {
  height: 45px;
}
/* line 178, ../sass/personal_account.scss */
.modal-box .content .code-title {
  float: left;
  width: 72px;
}
/* line 182, ../sass/personal_account.scss */
.modal-box .content .code {
  height: 45px;
  width: 110px;
  float: left;
  display: inline-block;
}
/* line 188, ../sass/personal_account.scss */
.modal-box .content .code-img {
  margin-left: 10px;
}
/* line 191, ../sass/personal_account.scss */
.modal-box .content .code-button {
  background: url("../images/register/code_bg.png") repeat-x;
  height: 45px;
  color: #737373;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  float: left;
  margin-left: 20px;
  width: 120px;
}
/* line 201, ../sass/personal_account.scss */
.modal-box .content .in-block {
  display: inline-block;
  margin-left: 70px;
  margin-top: 0px;
  margin-bottom: 0;
}
/* line 208, ../sass/personal_account.scss */
.modal-box .margintop30 {
  margin-top: 30px;
}
/* line 212, ../sass/personal_account.scss */
.modal-box .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  border-top: 1px solid #ebebeb;
}
/* line 218, ../sass/personal_account.scss */
.modal-box .footer .cancel, .modal-box .footer .sure {
  cursor: pointer;
  width: 49%;
  float: left;
  display: block;
  font-size: 18px;
  color: #686868;
  text-align: center;
  line-height: 70px;
  height: 70px;
}
/* line 228, ../sass/personal_account.scss */
.modal-box .footer .cancel:hover, .modal-box .footer .sure:hover {
  text-decoration: none;
}
/* line 232, ../sass/personal_account.scss */
.modal-box .footer .sure {
  color: #0099cc;
}
/* line 235, ../sass/personal_account.scss */
.modal-box .footer .cancel {
  border-right: 1px solid #ebebeb;
}
