/* line 9, ../sass/register.scss */
body {
  font-family: 'Microsoft YaHei';
}

/* line 12, ../sass/register.scss */
.register-header {
  width: 100%;
  height: 79px;
  border: 1px solid #e0e0e0;
  font-family: 'Microsoft YaHei';
}
/* line 18, ../sass/register.scss */
.register-header .box {
  padding: 0 10px;
  max-width: 1200px;
  margin: 0 auto;
}
/* line 23, ../sass/register.scss */
.register-header .logo {
  float: left;
  margin-top: 12px;
  display: block;
}
/* line 28, ../sass/register.scss */
.register-header .text {
  float: right;
  line-height: 79px;
}

/* line 34, ../sass/register.scss */
.register_container {
  font-family: 'Microsoft YaHei';
  max-width: 1200px;
  padding: 0 10px;
  font-size: 16px;
  height: auto;
  margin: 0 auto 50px auto;
}
/* line 41, ../sass/register.scss */
.register_container .form-control-feedback {
  top: 5px;
  right: 15px;
}
/* line 45, ../sass/register.scss */
.register_container small {
  font-size: 12px !important;
  margin-bottom: 10px !important;
}
/* line 49, ../sass/register.scss */
.register_container .box {
  margin-top: 95px;
}
/* line 51, ../sass/register.scss */
.register_container .box .p {
  line-height: 32px;
  color: #737373;
  font-size: 16px;
}
/* line 57, ../sass/register.scss */
.register_container .active-box {
  color: #686868;
}
/* line 60, ../sass/register.scss */
.register_container .register-box {
  color: #686868;
  font-size: 16px;
}
/* line 64, ../sass/register.scss */
.register_container .input-form {
  height: 50px;
}
/* line 68, ../sass/register.scss */
.register_container .btn-form {
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 36px;
}
/* line 74, ../sass/register.scss */
.register_container .tips {
  margin-bottom: 0 !important;
  color: #b4b5b5;
  font-size: 14px;
}
/* line 79, ../sass/register.scss */
.register_container .register-active {
  color: #686868;
  font-size: 16px;
}
/* line 83, ../sass/register.scss */
.register_container a {
  cursor: pointer;
}
/* line 87, ../sass/register.scss */
.register_container .reader {
  min-height: 30px !important;
  font-size: 14px;
  padding: 0;
}
/* line 91, ../sass/register.scss */
.register_container .reader .tips-error {
  padding: 0 5px !important;
}

/* line 98, ../sass/register.scss */
#pw-strength {
  float: right;
  margin-bottom: 20px;
}

/* line 103, ../sass/register.scss */
.tbl-txt {
  font-size: 14px;
}

/* line 107, ../sass/register.scss */
.tbl-txt input {
  padding: 0 5px;
  height: 22px;
  line-height: 22px;
  margin-bottom: 6px;
}

/* line 114, ../sass/register.scss */
.pw-strength {
  clear: both;
  position: relative;
  top: 8px;
  width: 180px;
}

/* line 121, ../sass/register.scss */
.pw-bar {
  background: url(../images/pwd-1.png) no-repeat;
  position: relative;
  top: 1px;
  height: 14px;
  overflow: hidden;
  width: 179px;
}

/* line 130, ../sass/register.scss */
.pw-bar-on {
  background: url(../images/pwd-2.png) no-repeat;
  width: 0px;
  height: 14px;
  position: absolute;
  top: 1px;
  left: 2px;
  transition: width .5s ease-in;
  -moz-transition: width .5s ease-in;
  -webkit-transition: width .5s ease-in;
  -o-transition: width .5s ease-in;
}

/* line 143, ../sass/register.scss */
.pw-weak .pw-defule {
  width: 0px;
}

/* line 147, ../sass/register.scss */
.pw-weak .pw-bar-on {
  width: 60px;
}

/* line 151, ../sass/register.scss */
.pw-medium .pw-bar-on {
  width: 120px;
}

/* line 155, ../sass/register.scss */
.pw-strong .pw-bar-on {
  width: 179px;
}

/* line 159, ../sass/register.scss */
.pw-txt {
  padding-top: 2px;
  width: 180px;
  overflow: hidden;
}

/* line 165, ../sass/register.scss */
.pw-txt span {
  color: #707070;
  float: left;
  font-size: 12px;
  text-align: center;
  width: 58px;
}

/* line 173, ../sass/register.scss */
.shadow-bg {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.82);
}

/* line 184, ../sass/register.scss */
.modal-phone {
  position: fixed;
  display: none;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin-left: -231px;
  margin-top: -169px;
  width: 462px;
  height: 338px;
  background-color: #FFF;
}
/* line 195, ../sass/register.scss */
.modal-phone .title {
  height: 65px;
  background-color: #0099cc;
  text-align: center;
  color: #FFF;
  line-height: 65px;
  font-size: 18px;
}
/* line 204, ../sass/register.scss */
.modal-phone .content .input {
  display: block;
  width: 320px;
  margin: 15px auto;
  height: auto;
  line-height: 45px;
  font-size: 16px;
  color: #737373;
}
/* line 213, ../sass/register.scss */
.modal-phone .content .code-title {
  float: left;
  width: 72px;
}
/* line 217, ../sass/register.scss */
.modal-phone .content .code {
  float: left;
  height: 45px;
  width: 110px !important;
}
/* line 222, ../sass/register.scss */
.modal-phone .content .code-button {
  background: url("../images/register/code_bg.png") repeat-x;
  height: 45px;
  color: #737373;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  float: right;
  width: 120px;
}
/* line 227, ../sass/register.scss */
.modal-phone .content .in-block {
  display: inline-block !important;
  margin-left: 70px !important;
  margin-top: 10px !important;
  margin-bottom: 0px !important;
}
/* line 235, ../sass/register.scss */
.modal-phone .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  border-top: 1px solid #ebebeb;
}
/* line 241, ../sass/register.scss */
.modal-phone .footer .cancel, .modal-phone .footer .sure {
  cursor: pointer;
  width: 49%;
  float: left;
  display: block;
  font-size: 18px;
  text-align: center;
  line-height: 70px;
  height: 70px;
}
/* line 250, ../sass/register.scss */
.modal-phone .footer .cancel:hover, .modal-phone .footer .sure:hover {
  text-decoration: none;
  color: #0099cc;
}
/* line 255, ../sass/register.scss */
.modal-phone .footer .sure {
  color: #0099cc;
}
/* line 258, ../sass/register.scss */
.modal-phone .footer .cancel {
  color: #5d5d5d;
  border-right: 1px solid #ebebeb;
}

/* line 265, ../sass/register.scss */
.code-img {
  cursor: pointer;
}

/* line 269, ../sass/register.scss */
.forget-box {
  width: 400px;
  height: 460px;
  margin: 0 auto;
  border: 1px solid #d9d9d9;
}
/* line 274, ../sass/register.scss */
.forget-box ul li {
  text-align: center;
  width: 50%;
}
/* line 278, ../sass/register.scss */
.forget-box .box {
  width: 315px;
  margin: 10px auto;
}
/* line 282, ../sass/register.scss */
.forget-box .row {
  margin-bottom: 10px;
}
/* line 285, ../sass/register.scss */
.forget-box .code-box {
  margin: 0;
}
/* line 287, ../sass/register.scss */
.forget-box .code-box .col-md-7 {
  padding-left: 0;
}
/* line 291, ../sass/register.scss */
.forget-box input, .forget-box button {
  height: 45px;
}
/* line 294, ../sass/register.scss */
.forget-box .remove-padding {
  padding-left: 0;
  padding-right: 0;
}
/* line 298, ../sass/register.scss */
.forget-box .sendcode {
  background: url("../images/register/code_bg.png") repeat-x;
  height: 45px;
  color: #737373;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
}
/* line 302, ../sass/register.scss */
.forget-box .nav-tabs {
  border-bottom: 0;
}
/* line 306, ../sass/register.scss */
.forget-box .nav-tabs > li a {
  margin: 0;
  height: 50px;
  line-height: 25px;
  font-size: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #c3c3c3;
  color: #686868;
}
/* line 316, ../sass/register.scss */
.forget-box .nav-tabs > li.active > a, .forget-box .nav-tabs > li.active > a:hover, .forget-box .nav-tabs > li.active > a:focus {
  color: #0099cc;
  background-color: #FFFFFF;
  margin: 0;
  border-radius: 0;
  border: 0;
}
/* line 323, ../sass/register.scss */
.forget-box .nav-tabs .right {
  border-radius: 0;
  border-right: 1px solid #d9d9d9;
}
/* line 327, ../sass/register.scss */
.forget-box .nav-tabs .left {
  border-radius: 0;
  border-left: 1px solid #d9d9d9;
}
/* line 332, ../sass/register.scss */
.forget-box .tab-content {
  padding: 50px 0 80px 0;
}
/* line 335, ../sass/register.scss */
.forget-box .btn-color-bule {
  border-color: #0099cc;
  background-color: #0099cc;
}

/* line 341, ../sass/register.scss */
.tips-error {
  color: #be180c;
  font-family: 'Microsoft YaHei';
  font-size: 12px;
}

/* line 346, ../sass/register.scss */
.pl-15 {
  padding-left: 15px;
}

/* line 350, ../sass/register.scss */
.help-block {
  color: #be180c;
}

/* line 354, ../sass/register.scss */
.email-box {
  margin: 0 auto;
  width: 490px;
  padding: 70px 30px 40px 30px;
  height: 284px;
  margin-top: 100px;
  background-color: white;
  text-align: center;
  border: 1px solid #eaeaea;
  -moz-box-shadow: 0px 3px 9px #EAEAEA;
  -webkit-box-shadow: 0px 3px 9px #EAEAEA;
  box-shadow: 0px 3px 9px #EAEAEA;
}
/* line 366, ../sass/register.scss */
.email-box img {
  margin-bottom: 20px;
}

/* line 370, ../sass/register.scss */
.article-box {
  font-size: 14px;
}

/* line 373, ../sass/register.scss */
.size16 {
  font-size: 16px;
}

/* line 378, ../sass/register.scss */
.register-form .text-right {
  line-height: 50px;
}
/* line 381, ../sass/register.scss */
.register-form .form-group {
  min-height: 68px;
}

/* line 387, ../sass/register.scss */
.register_footer {
  position: fixed;
  bottom: 15px;
  width: 100%;
  color: #848484;
}
/* line 392, ../sass/register.scss */
.register_footer p {
  text-align: center;
}
/* line 395, ../sass/register.scss */
.register_footer .register-form {
  margin: 20px;
}

@media screen and (min-width: 1000px) {
  /* line 402, ../sass/register.scss */
  .register_footer {
    position: fixed;
    bottom: 15px;
    width: 100%;
    color: #848484;
  }

  /* line 408, ../sass/register.scss */
  p {
    text-align: center;
  }

  /* line 411, ../sass/register.scss */
  .register-form {
    margin: 20px;
  }
}
@media screen and (max-width: 999px) {
  /* line 417, ../sass/register.scss */
  .register_footer {
    position: static;
    color: #848484;
  }

  /* line 421, ../sass/register.scss */
  p {
    text-align: center;
  }

  /* line 425, ../sass/register.scss */
  .register-form .text-right {
    line-height: 32px;
    text-align: left;
  }
  /* line 429, ../sass/register.scss */
  .register-form .form-group {
    height: auto;
  }
}
