/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/screen.scss */
body {
  font-size: 12px;
}

/* line 10, ../sass/screen.scss */
a {
  color: #428bca;
}

/* line 6, ../sass/aside.scss */
.aside.canbehover:hover, .nav_green ul.nav > li:hover > a, .nav_green ul.nav > li:focus > a, .nav_green ul.nav > li > a:hover, .nav_green ul.nav > li > a:focus, .nav_green ul.nav > li > a:active, .nav_green ul.nav > li.active > a {
  background-color: #2e97cb !important;
}

/* line 12, ../sass/aside.scss */
aside.aside.bg-Green.lter {
  background: linear-gradient(to bottom, #0E2835 53%, #415966);
}

/* line 17, ../sass/aside.scss */
.aside-section {
  height: 100%;
}
/* line 20, ../sass/aside.scss */
.aside-section .hbox {
  height: 100%;
}

/* line 26, ../sass/aside.scss */
.bg-green .wrapper {
  height: 36px;
  min-height: 0px;
}

/* line 33, ../sass/aside.scss */
.nav_green li > a > i {
  font-size: 1.5rem;
  line-height: 37px;
}

/* line 39, ../sass/aside.scss */
.list li .nav > li > a {
  font-size: 1.2rem;
}

/* line 44, ../sass/aside.scss */
.list li a, .list span {
  font-size: 1.2rem;
}

/* line 50, ../sass/aside.scss */
.list .nav a:hover, a.canbehover:hover {
  background-color: #2e97cb !important;
}

/* line 56, ../sass/aside.scss */
.w-f .head.lter {
  background: #193643;
}

/* line 61, ../sass/aside.scss */
.bg-Green.lter, .bg-Green .lter, #top_h {
  background: #0E2835;
}

/* line 68, ../sass/aside.scss */
.bg-green {
  background-color: #EAEDF1;
  color: #333;
}
/* line 72, ../sass/aside.scss */
.bg-green a {
  color: #0d0d0d;
}
/* line 76, ../sass/aside.scss */
.bg-green .wrapper {
  background: #EAEDF1;
}

/* line 81, ../sass/aside.scss */
.list li .nav > li > a {
  background: #103345;
}

/* line 85, ../sass/aside.scss */
.width_h {
  color: #090909;
}

/* line 89, ../sass/aside.scss */
.aside-mini {
  width: 55px;
  transition: 0.5s;
}
/* line 93, ../sass/aside.scss */
.aside-mini span {
  display: none;
}
/* line 97, ../sass/aside.scss */
.aside-mini .list li a {
  padding: 20px 4px;
  height: 40px;
  line-height: 40px;
}
/* line 103, ../sass/aside.scss */
.aside-mini ul.nav > li > a {
  padding: 21px 3px;
}
/* line 107, ../sass/aside.scss */
.aside-mini .img-shrink {
  transform: rotate(90deg);
}
/* line 111, ../sass/aside.scss */
.aside-mini .nav_green li > a > i {
  margin: -19px 0px;
  width: 100%;
}

/* line 118, ../sass/aside.scss */
.aside-li-a a {
  font-size: 1.2rem;
  font-weight: normal;
  display: inline-block;
  text-align: center;
  height: 44px;
  width: 100%;
  line-height: 44px;
}
/* line 128, ../sass/aside.scss */
.aside-li-a.active {
  background: white;
}
/* line 132, ../sass/aside.scss */
.aside-li-a a:hover {
  background: white;
}

/* line 137, ../sass/aside.scss */
.xbox .head-box {
  background: #f7f7f7;
  left: -15px;
}

/* line 142, ../sass/aside.scss */
.bg-white {
  background: white;
}

/* line 4, ../sass/index.scss */
.padder-v {
  padding-bottom: 0px;
  padding-top: 0px;
}

/* line 11, ../sass/index.scss */
.app-list .app-status-center {
  width: 100%;
}
/* line 15, ../sass/index.scss */
.app-list .app-status-right {
  width: 50%;
  text-align: left;
}
/* line 20, ../sass/index.scss */
.app-list .app-status-left {
  width: 28%;
}
/* line 22, ../sass/index.scss */
.app-list .app-status-left a {
  padding-right: 10px;
}
/* line 27, ../sass/index.scss */
.app-list .app-status-list {
  list-style: none;
}
/* line 29, ../sass/index.scss */
.app-list .app-status-list li {
  margin-top: 5px;
}
/* line 34, ../sass/index.scss */
.app-list .app-icon {
  width: 50px;
}

/* line 40, ../sass/index.scss */
.fix-padding {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 45, ../sass/index.scss */
.panel {
  margin-bottom: 10px;
}

/* line 49, ../sass/index.scss */
section.yunhuni-personal {
  margin-top: 5px;
}
/* line 52, ../sass/index.scss */
section.yunhuni-personal.panel {
  border: none;
  box-shadow: none;
}
/* line 57, ../sass/index.scss */
section.yunhuni-personal .account-number {
  color: #FC8408;
  font-size: 23px;
}
/* line 62, ../sass/index.scss */
section.yunhuni-personal .account-number-decimal {
  color: #FC8408;
}
/* line 66, ../sass/index.scss */
section.yunhuni-personal .box-footer {
  margin: 5px;
  position: absolute;
  bottom: 5px;
  right: 20px;
}
/* line 73, ../sass/index.scss */
section.yunhuni-personal .account-left {
  margin-top: 10px;
}
/* line 75, ../sass/index.scss */
section.yunhuni-personal .account-left .account-number-small {
  color: #FC8408;
  font-size: 15px;
}
/* line 81, ../sass/index.scss */
section.yunhuni-personal .w-half {
  display: inline-block;
  width: 50%;
  float: right;
}

/* line 88, ../sass/index.scss */
.wrapperBox {
  min-height: 130px;
  background: whitesmoke;
  border: 1px solid rgba(28, 27, 27, 0.08);
  box-shadow: 0px 1px 1px #dddddd;
  padding: 15px;
}

/* line 96, ../sass/index.scss */
section.panel.pos-rlt {
  border: none;
  box-shadow: none;
  padding-right: 5px;
  padding-left: 5px;
}
/* line 102, ../sass/index.scss */
section.panel.pos-rlt .sectionWrap {
  border: 1px solid rgba(28, 27, 27, 0.08);
  box-shadow: 0px 1px 1px #dddddd;
}
/* line 105, ../sass/index.scss */
section.panel.pos-rlt .sectionWrap .panel-heading {
  background-color: #f5f5f5;
}

/* line 3, ../sass/banner.scss */
.bg-blue {
  background-color: #2E97CB;
}
/* line 5, ../sass/banner.scss */
.bg-blue a {
  color: white;
}

/* line 10, ../sass/banner.scss */
header {
  font-size: 15px;
  font-weight: normal;
}

/* line 15, ../sass/banner.scss */
.panel-footer {
  text-align: center;
}
/* line 16, ../sass/banner.scss */
.panel-footer a {
  color: #333;
}

/* line 22, ../sass/banner.scss */
.logo_b {
  width: 55px;
  background: #3281a9;
}

/* line 27, ../sass/banner.scss */
.logo_ab .logo_w2 {
  width: 130%;
  transform: translate(-4px, -2px);
}

/* line 32, ../sass/banner.scss */
.navbar-brand img {
  max-height: none;
}

/* line 36, ../sass/banner.scss */
.logo_ab img {
  line-height: 55px;
  margin: auto;
  float: none;
}

/* line 42, ../sass/banner.scss */
.nav_b > li > a:hover, .nav_b > li > a:focus {
  background-color: #3281a9;
}

/* line 46, ../sass/banner.scss */
.a-color {
  border-left: solid 1px #008AB5;
  border-right: solid 1px #008AB5;
}

/* line 1, ../sass/common.scss */
.admin-padding {
  padding-right: 5px;
  padding-left: 5px;
}

/* line 6, ../sass/common.scss */
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

/* line 12, ../sass/common.scss */
.border-left {
  border-left: 2px solid #2e97cb;
  padding-left: 5px;
  font-weight: bold;
  font-size: 1.2rem;
}

/* line 19, ../sass/common.scss */
.border-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

/* line 23, ../sass/common.scss */
.border-top-none {
  border-top: none;
}

/* line 27, ../sass/common.scss */
.bootbox-body {
  font-size: 15px;
}

/* line 31, ../sass/common.scss */
.number {
  color: #FC8408;
}

/* line 35, ../sass/common.scss */
.fa-database:before {
  content: '\f1c0';
}

/* line 39, ../sass/common.scss */
.fa-clone:before {
  content: '\f24d';
}

/* line 44, ../sass/common.scss */
.fa-caret-down.active {
  transform: rotate(-90deg);
}

/* line 1, ../sass/admin-index.scss */
.yhn-description {
  margin-top: 10px;
  display: inline-block;
  font-size: 13px;
  color: #333;
}

/* line 1, ../sass/login.scss */
.login-bg {
  color: #000;
  font-weight: 400;
  line-height: 1.25;
  font-family: 'MicrosoftYaHei';
  background-image: url(../images/index/bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  overflow-x: hidden;
  height: auto;
}

/* line 15, ../sass/login.scss */
.login-logo {
  margin-top: 120px;
}

/* line 20, ../sass/login.scss */
.login-box {
  padding: 16px 16px;
  margin: 10px auto 24px auto;
  max-width: 484px;
  background-color: #FFF;
  border-radius: 5px;
  display: block;
}
/* line 28, ../sass/login.scss */
.login-box .login-text {
  color: #686868;
}
/* line 29, ../sass/login.scss */
.login-box .login-form {
  display: block;
  padding: 0 5px;
  margin: 10px auto;
  width: 90%;
}
/* line 34, ../sass/login.scss */
.login-box .login-form input[type="text"],
.login-box .login-form input[type="password"] {
  height: 50px;
}
/* line 38, ../sass/login.scss */
.login-box .login-form .form-username {
  background: url("../images/index/icon_10.png") 20px center no-repeat;
  padding-left: 40px;
}
/* line 42, ../sass/login.scss */
.login-box .login-form .form-password {
  background: url("../images/index/icon_11.png") 20px center no-repeat;
  padding-left: 40px;
}
/* line 46, ../sass/login.scss */
.login-box .login-form .form-block {
  display: inline-block;
  width: 100%;
}
/* line 50, ../sass/login.scss */
.login-box .login-form .btn-form {
  height: 48px;
  width: 100%;
  font-size: 20px;
}
/* line 56, ../sass/login.scss */
.login-box .remember-check {
  width: 14px;
  height: 14px;
  border: 1px solid #c3c3c3;
  background-color: #FFF;
}
/* line 62, ../sass/login.scss */
.login-box .margin-block {
  margin-top: 20px;
}
/* line 65, ../sass/login.scss */
.login-box .register {
  text-decoration: underline;
}
/* line 68, ../sass/login.scss */
.login-box .tips {
  background: url("../images/tips.png") no-repeat left center;
  height: 35px;
  display: inline-block;
  line-height: 35px;
  padding-left: 25px;
  color: red !important;
}
/* line 76, ../sass/login.scss */
.login-box .tips:hover {
  text-decoration: none;
}

/* line 81, ../sass/login.scss */
.border {
  border: 1px solid transparent;
}

/* line 85, ../sass/login.scss */
.remove-padding {
  padding: 0;
}

/* line 89, ../sass/login.scss */
.login-footer {
  color: #848484 !important;
}

/* line 1, ../sass/register.scss */
.register-header {
  width: 100%;
  height: 79px;
  border: 1px solid #e0e0e0;
}
/* line 5, ../sass/register.scss */
.register-header .box {
  width: 1200px;
  margin: 0 auto;
}
/* line 9, ../sass/register.scss */
.register-header .logo {
  float: left;
  margin-top: 12px;
  display: block;
}
/* line 14, ../sass/register.scss */
.register-header .text {
  float: right;
  line-height: 79px;
}

/* line 21, ../sass/register.scss */
.register_container {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  display: block;
}
/* line 26, ../sass/register.scss */
.register_container .leftbox {
  float: left;
  width: 500px;
}
/* line 30, ../sass/register.scss */
.register_container .rightbox {
  float: right;
  width: 600px;
}

/* line 23, ../sass/screen.scss */
.bg-light {
  background-color: #f1f1f1r;
}

/* line 27, ../sass/screen.scss */
.fr {
  float: right;
}

/* line 31, ../sass/screen.scss */
.fl {
  float: left;
}

/* line 35, ../sass/screen.scss */
.none-app {
  text-align: center;
}
/* line 37, ../sass/screen.scss */
.none-app span {
  display: inline-block;
  margin-left: 25px;
  vertical-align: middle;
}
