/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 10, ../sass/screen.scss */
body, html {
  background: white;
}

/* line 4, ../sass/aside.scss */
.bg-Green.lter, .bg-Green .lter, #top_h {
  background: #0E2835;
  background-color: #0E2835;
}

/* line 10, ../sass/aside.scss */
.bg-green {
  background-color: #EAEDF1;
  color: #333;
}
/* line 14, ../sass/aside.scss */
.bg-green a {
  color: #0d0d0d;
}
/* line 18, ../sass/aside.scss */
.bg-green .wrapper {
  background: #EAEDF1;
}

/* line 23, ../sass/aside.scss */
.list li .nav > li > a {
  background: #103345;
}

/* line 27, ../sass/aside.scss */
.width_h {
  color: #090909;
}

/* line 31, ../sass/aside.scss */
.aside-mini {
  width: 55px;
}
/* line 33, ../sass/aside.scss */
.aside-mini span {
  display: none;
}
/* line 36, ../sass/aside.scss */
.aside-mini .list li a {
  padding: 20px 4px;
  height: 40px;
  line-height: 40px;
}
/* line 41, ../sass/aside.scss */
.aside-mini ul.nav > li > a {
  padding: 21px 3px;
}
/* line 45, ../sass/aside.scss */
.aside-mini .nav_green li > a > i {
  margin: -23px 0px;
}

/* line 3, ../sass/banner.scss */
.bg-blue {
  background-color: #2E97CB;
}
/* line 5, ../sass/banner.scss */
.bg-blue a {
  color: white;
}

/* line 10, ../sass/banner.scss */
.logo_b {
  width: 55px;
  background: #3281a9;
}

/* line 15, ../sass/banner.scss */
.logo_ab .logo_w2 {
  width: 100%;
}

/* line 20, ../sass/banner.scss */
.logo_ab img {
  line-height: 55px;
  margin: auto;
  float: none;
}

/* line 1, ../sass/common.scss */
.nav_green ul.nav > li:hover > a, .nav_green ul.nav > li:focus > a, .nav_green ul.nav > li > a:hover, .nav_green ul.nav > li > a:focus, .nav_green ul.nav > li > a:active, .nav_green ul.nav > li.active > a {
  background-color: #2e97cb !important;
}

/* line 18, ../sass/screen.scss */
a {
  color: #428bca;
}

/* line 22, ../sass/screen.scss */
.bg-light {
  background-color: #f1f1f1r;
}

/* line 26, ../sass/screen.scss */
.fr {
  float: right;
}

/* line 30, ../sass/screen.scss */
.fl {
  float: left;
}

/* line 34, ../sass/screen.scss */
.admin-padding {
  padding-right: 15px;
  padding-left: 15px;
}

/* line 39, ../sass/screen.scss */
.wrapperBox {
  min-height: 130px;
  background: whitesmoke;
  border: 1px solid rgba(28, 27, 27, 0.08);
  box-shadow: 1px 1px 1px #dddddd;
  padding: 15px;
}

/* line 48, ../sass/screen.scss */
.scrollable .panel.panel-default {
  border-color: white;
}

/* line 53, ../sass/screen.scss */
.yunhuni-personal .account-number {
  color: #FC8408;
  font-size: 23px;
}
/* line 58, ../sass/screen.scss */
.yunhuni-personal .account-number-decimal {
  color: #FC8408;
}
/* line 62, ../sass/screen.scss */
.yunhuni-personal .box-footer {
  margin: 5px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
/* line 69, ../sass/screen.scss */
.yunhuni-personal .account-left {
  margin-top: 10px;
}
/* line 71, ../sass/screen.scss */
.yunhuni-personal .account-left .account-number-small {
  color: #FC8408;
  font-size: 15px;
}
/* line 77, ../sass/screen.scss */
.yunhuni-personal .w-half {
  display: inline-block;
  width: 50%;
  float: right;
}

/* line 84, ../sass/screen.scss */
.none-app {
  text-align: center;
}
/* line 86, ../sass/screen.scss */
.none-app span {
  display: inline-block;
  margin-left: 25px;
  vertical-align: middle;
}

/* line 95, ../sass/screen.scss */
.app-list .app-status-center {
  width: 100%;
}
/* line 99, ../sass/screen.scss */
.app-list .app-status-right {
  width: 600px;
}
/* line 103, ../sass/screen.scss */
.app-list .app-status-left {
  width: 300px;
}
/* line 107, ../sass/screen.scss */
.app-list .app-status-list {
  list-style: none;
}
/* line 109, ../sass/screen.scss */
.app-list .app-status-list li {
  margin-top: 5px;
}
