/* line 2, ../sass/statistics_consume.scss */
.date_block {
  display: inline-block;
  width: 200px;
}

/* line 6, ../sass/statistics_consume.scss */
.monthcontrast, .yearcontrast, .statisticsYear, .yearform {
  display: none;
}

/* line 10, ../sass/statistics_consume.scss */
.scanvas {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* line 15, ../sass/statistics_consume.scss */
.finddatebtn {
  margin: 0 20px;
}

/* line 18, ../sass/statistics_consume.scss */
.monthcontrast span, .yearcontrast span {
  margin: 0 10px;
}

/* line 21, ../sass/statistics_consume.scss */
.font18 {
  font-size: 18px;
}

/* line 24, ../sass/statistics_consume.scss */
.ml-15 {
  margin-left: 15px !important;
}
